* {
    padding: 0;
    margin: 0;
}

/*검색창*/
#searchBar {
    display: block;
    text-align: center;
}

input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:2px solid #eaeaea;
    outline:none;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus{
    border-color:#4d90fe;
}

#logo {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }



nav {
    background-color: black;
    height: 50px;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
}

li a:hover {
    background-color: gray;
}

/*기업정보 테이블*/
table {
    width: 100%;
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
    margin-top: 50px;
}
